/*index.html styles*/
#main{display: flex; flex-wrap: wrap;justify-content: space-around}

#div1 {background-color: #cccccc;
    border-style: solid;
    display: flex;
    border-color: pink;
    width: 45vw;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;


}
/*user details html*/
#usdet{display: flex; flex-direction: column; align-content: center;background-color: coral}
#posts{width: 90%;align-self: center}
#post-titles{display: flex;flex-wrap: wrap;border-style: solid; border-color: coral; height: 60vh}
#div2{ width: 19.6%; /* Кожен елемент займає 20% ширини батьківського контейнера */
    padding: 5px;
    margin:2px;
    box-sizing: border-box;
    border: 1px solid purple;flex-direction: row; background-color: aquamarine}

#vltitle{height: 15vh}
#mybtn{background-color: #cccccc}

/*post details html*/
#post-comments{border-color: purple; border-style: solid;display: flex;
    flex-wrap: wrap;box-sizing: border-box;}
#postcomment{background-color: coral;width: 20%; /* Каждый элемент занимает 20% ширины контейнера */
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;}
#post-details{background-color: #cccccc; display: flex; flex-direction: column;align-items: center}